.logo {
    position: absolute;
    top: 2%;
    left: 5%;
}
.title h1{
    position: absolute;
    top: 2%;
    left: 40%;
    color: #fff;
    text-align: center;
   /*  text-transform: uppercase; */
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
}
.title h4 {
    position: absolute;
    top: 10%;
    left: 35%;
    color: #fff;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
